@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Space;
  src: url("assets/fonts/death-star.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins-regular.ttf") format("opentype");
}

@font-face {
  font-family: PoppinsSB;
  src: url("assets/fonts/poppins-semibold.ttf") format("opentype");
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}
