@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Space;
    src: url("assets/fonts/death-star.otf") format("opentype");
  }

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange;
  }